
<% print_html_header(); %>
<%
    dmsg req;
    dxml p;

    req.request("/ui/web/dst/read", NULL);
    p.load(req.body());

    if(form_method == POST) {
        int x = eGetInt("start_t");
        int y = eGetInt("end_t");

        p.setInt("/params/dst/enable", eGetInt("enable"));
        p.setInt("/params/dst/bias", eGetInt("bias"));
        p.setInt("/params/dst/start_m", eGetInt("start_m"));
        p.setInt("/params/dst/start_w", eGetInt("start_w"));
        p.setInt("/params/dst/start_d", eGetInt("start_d"));
        p.setInt("/params/dst/end_m", eGetInt("end_m"));
        p.setInt("/params/dst/end_w", eGetInt("end_w"));
        p.setInt("/params/dst/end_d", eGetInt("end_d"));

        if (x > 0 && x < 24 && y > 0 && y < 24) {
            p.setInt("/params/dst/start_t", x);
            p.setInt("/params/dst/end_t", y);
        }
        

        req.request("/ui/web/dst/write", p.data());     
    }
%>
    
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/css/style.css" rel="stylesheet" type="text/css">
<style>
    a:link,a:visited
    {
        display:block;
        font-weight:bold;
        color:#FFFFFF;
        background-color:#98bf21;
        width:120px;
        text-align:center;
        padding:4px;
        text-decoration:none;
    }
    a:hover,a:active
    {
        background-color:#000000;
    }
    </style>
</head>



<body>
<form method="post" action="dst.cgi">
    <table width="90%" border="0" id="table1">
        <tr>
            <td class="header"><strong><% ePrint(ehttp_xml.get("/dnake/dst/title")); %></strong></td>
        </tr>
        <tr>
            <td><hr></td>       
        </tr>
            <table border="0" id="table2">
                <tr>            
                    <td><a href="/cgi-bin/time.cgi" target="main" >Time</a></td>
                    <td><a href="/cgi-bin/dst.cgi" target="main" >DST</a></td>
                </tr>
                <tr>
					<td>&nbsp;</td>
                </tr>
                <tr>
					<td width="96"><% ePrint(ehttp_xml.get("/dnake/dst/enable")); %></td>
					<td>
                        <input type="radio" name="enable" value="1" id="on" <% if(p.getInt("/params/dst/enable", 0) == 1) printf("checked"); %>><% ePrint(ehttp_xml.get("/dnake/dst/on")); %>
                        <input type="radio" name="enable" value="0" id="off" <% if(p.getInt("/params/dst/enable", 0) == 0) printf("checked"); %>><% ePrint(ehttp_xml.get("/dnake/dst/off")); %>
                    </td>
                </tr>           
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td width="96"><% ePrint(ehttp_xml.get("/dnake/dst/start")); %></td>
                    <td>
                        <select name="start_m" style="width:80px;">
                            <option value="1" <% if(p.getInt("/params/dst/start_m", 0) == 1) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_1")); %></option>
                            <option value="2" <% if(p.getInt("/params/dst/start_m", 0) == 2) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_2")); %></option>
                            <option value="3" <% if(p.getInt("/params/dst/start_m", 0) == 3) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_3")); %></option>
                            <option value="4" <% if(p.getInt("/params/dst/start_m", 0) == 4) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_4")); %></option>
                            <option value="5" <% if(p.getInt("/params/dst/start_m", 0) == 5) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_5")); %></option>
                            <option value="6" <% if(p.getInt("/params/dst/start_m", 0) == 6) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_6")); %></option>
                            <option value="7" <% if(p.getInt("/params/dst/start_m", 0) == 7) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_7")); %></option>
                            <option value="8" <% if(p.getInt("/params/dst/start_m", 0) == 8) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_8")); %></option>
                            <option value="9" <% if(p.getInt("/params/dst/start_m", 0) == 9) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_9")); %></option>
                            <option value="10" <% if(p.getInt("/params/dst/start_m", 0) == 10) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_10")); %></option>
                            <option value="11" <% if(p.getInt("/params/dst/start_m", 0) == 11) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_11")); %></option>
                            <option value="12" <% if(p.getInt("/params/dst/start_m", 0) == 12) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_12")); %></option>
                        </select>
                        <select name="start_w" style="width:80px;">
                            <option value="1" <% if(p.getInt("/params/dst/start_w", 0) == 1) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/week_1")); %></option>
                            <option value="2" <% if(p.getInt("/params/dst/start_w", 0) == 2) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/week_2")); %></option>
                            <option value="3" <% if(p.getInt("/params/dst/start_w", 0) == 3) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/week_3")); %></option>
                            <option value="4" <% if(p.getInt("/params/dst/start_w", 0) == 4) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/week_4")); %></option>
                            <option value="5" <% if(p.getInt("/params/dst/start_w", 0) == 5) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/week_5")); %></option>
                        </select>
                        <select name="start_d" style="width:80px;">
                            <option value="0" <% if(p.getInt("/params/dst/start_d", 0) == 0) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/date_1")); %></option>
                            <option value="1" <% if(p.getInt("/params/dst/start_d", 0) == 1) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/date_2")); %></option>
                            <option value="2" <% if(p.getInt("/params/dst/start_d", 0) == 2) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/date_3")); %></option>
                            <option value="3" <% if(p.getInt("/params/dst/start_d", 0) == 3) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/date_4")); %></option>
                            <option value="4" <% if(p.getInt("/params/dst/start_d", 0) == 4) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/date_5")); %></option>
                            <option value="5" <% if(p.getInt("/params/dst/start_d", 0) == 5) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/date_6")); %></option>
                            <option value="6" <% if(p.getInt("/params/dst/start_d", 0) == 6) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/date_7")); %></option>
                        </select>
                    </td>
                    <td>
                        <input  type="text" style="width:80px;" name="start_t" value="<% ePrint(p.getText("/params/dst/start_t")); %>", id="start_t"></td>
                    <td>
                    <td>h<td>
                </tr>
                <tr>
                    <td width="96"><% ePrint(ehttp_xml.get("/dnake/dst/end")); %></td>
                    <td>
                        <select name="end_m" style="width:80px;">
                            <option value="1" <% if(p.getInt("/params/dst/end_m", 0) == 1) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_1")); %></option>
                            <option value="2" <% if(p.getInt("/params/dst/end_m", 0) == 2) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_2")); %></option>
                            <option value="3" <% if(p.getInt("/params/dst/end_m", 0) == 3) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_3")); %></option>
                            <option value="4" <% if(p.getInt("/params/dst/end_m", 0) == 4) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_4")); %></option>
                            <option value="5" <% if(p.getInt("/params/dst/end_m", 0) == 5) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_5")); %></option>
                            <option value="6" <% if(p.getInt("/params/dst/end_m", 0) == 6) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_6")); %></option>
                            <option value="7" <% if(p.getInt("/params/dst/end_m", 0) == 7) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_7")); %></option>
                            <option value="8" <% if(p.getInt("/params/dst/end_m", 0) == 8) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_8")); %></option>
                            <option value="9" <% if(p.getInt("/params/dst/end_m", 0) == 9) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_9")); %></option>
                            <option value="10" <% if(p.getInt("/params/dst/end_m", 0) == 10) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_10")); %></option>
                            <option value="11" <% if(p.getInt("/params/dst/end_m", 0) == 11) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_11")); %></option>
                            <option value="12" <% if(p.getInt("/params/dst/end_m", 0) == 12) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/mon_12")); %></option>
                        </select>
                        <select name="end_w" style="width:80px;">
                            <option value="1" <% if(p.getInt("/params/dst/end_w", 0) == 1) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/week_1")); %></option>
                            <option value="2" <% if(p.getInt("/params/dst/end_w", 0) == 2) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/week_2")); %></option>
                            <option value="3" <% if(p.getInt("/params/dst/end_w", 0) == 3) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/week_3")); %></option>
                            <option value="4" <% if(p.getInt("/params/dst/end_w", 0) == 4) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/week_4")); %></option>
                            <option value="5" <% if(p.getInt("/params/dst/end_w", 0) == 5) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/week_5")); %></option>
                        </select>
                        <select name="end_d" style="width:80px;">
                            <option value="0" <% if(p.getInt("/params/dst/end_d", 0) == 0) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/date_1")); %></option>
                            <option value="1" <% if(p.getInt("/params/dst/end_d", 0) == 1) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/date_2")); %></option>
                            <option value="2" <% if(p.getInt("/params/dst/end_d", 0) == 2) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/date_3")); %></option>
                            <option value="3" <% if(p.getInt("/params/dst/end_d", 0) == 3) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/date_4")); %></option>
                            <option value="4" <% if(p.getInt("/params/dst/end_d", 0) == 4) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/date_5")); %></option>
                            <option value="5" <% if(p.getInt("/params/dst/end_d", 0) == 5) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/date_6")); %></option>
                            <option value="6" <% if(p.getInt("/params/dst/end_d", 0) == 6) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/date_7")); %></option>
                        </select>
                    </td>
                    <td>
                        <input  type="text" style="width:80px;" name="end_t" value="<% ePrint(p.getText("/params/dst/end_t")); %>", id="end_m"></td>
                    <td>
                    <td>h<td>
                </tr>
                <tr>
                    <td width="96"><% ePrint(ehttp_xml.get("/dnake/dst/bias")); %></td>
                    <td>
                        <select name="bias" style="width:240px;">
                            <option value="30" <% if(strcmp(p.getText("/params/dst/bias"), "0") == 30) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/bias_1")); %></option>
                            <option value="60" <% if(strcmp(p.getText("/params/dst/bias"), "0") == 60) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/bias_2")); %></option>
                            <option value="90" <% if(strcmp(p.getText("/params/dst/bias"), "0") == 90) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/bias_3")); %></option>
                            <option value="120" <% if(strcmp(p.getText("/params/dst/bias"), "0") == 120) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/bias_4")); %></option>
                            <option value="150" <% if(strcmp(p.getText("/params/dst/bias"), "0") == 150) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/bias_5")); %></option>
                            <option value="180" <% if(strcmp(p.getText("/params/dst/bias"), "0") == 180) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/bias_6")); %></option>
                            <option value="210" <% if(strcmp(p.getText("/params/dst/bias"), "0") == 210) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/bias_7")); %></option>
                            <option value="240" <% if(strcmp(p.getText("/params/dst/bias"), "0") == 240) ePrint("selected"); %>><% ePrint(ehttp_xml.get("/dnake/dst/bias_8")); %></option>
                        </select>                        
                    </td>
                </tr>  
                </table>
            </td>
        </tr>
        <tr>
            <td><hr></td>
        </tr>
        <tr>
            <td>
            <input type="submit" value="<% ePrint(ehttp_xml.get("/dnake/submit")); %>"></td>
        </tr>
    </table>
</form>

</body>
</html>
    