
<% print_html_header(); %>
<%
    dmsg req;
    dxml p;

    req.request("/ui/web/time/read", NULL);
    p.load(req.body());

    if(form_method == POST) {

        const char *pp[6];
        char *pp1[6]; 
        int i = 0;

        char time[128];
        int ntp;
        ntp = eGetInt("ntp");
        
        p.setText("/params/settime/tz", eGetText("sel")); 
        p.setInt("/params/ntp/enable", ntp);
        strcpy(time, eGetText("time"));
              
        int t0 = -1;
        int t1 = -1;
        int t2 = -1;
        int t3 = -1;
        int t4 = -1;
        int t5 = -1;

        pp[0] = strtok(time, "-");
        pp[1] = strtok(NULL, "-");
        pp[2] = strtok(NULL, " ");
        pp[3] = strtok(NULL, ":");
        pp[4] = strtok(NULL, ":");
        pp[5] = strtok(NULL, ":");  
    
    
        if (pp[0] != NULL && strlen(pp[0]) == 4 && pp[1] != NULL && (strlen(pp[1]) == 1 || strlen(pp[1]) == 2) &&
                pp[2] != NULL && (strlen(pp[2]) == 1 || strlen(pp[2]) == 2) && pp[3] != NULL && (strlen(pp[3]) == 1 || strlen(pp[3]) == 2) && 
                    pp[4] != NULL && (strlen(pp[4]) == 1||strlen(pp[4]) == 2) && pp[5] != NULL && (strlen(pp[5]) == 1 || strlen(pp[5]) == 2)) {  
            t0 = atoi(pp[0]);
            t1 = atoi(pp[1]);
            t2 = atoi(pp[2]);
            t3 = atoi(pp[3]);
            t4 = atoi(pp[4]);
            t5 = atoi(pp[5]);
        }
    
        printf("pp[4] = %d\n", t4);
        printf("pp[5] = %d\n", t5);
        printf("pp[3] = %d\n", t3);
        
        if (t0 >= 1970 && t0 <= 2037 && t1 >= 1 && t1 < 12 && t2 >= 1 && t2 < 31 && 
                t3 >= 0 && t3 < 24 && t4 >= 0 && t4 < 60 && t5 >= 0 && t5 < 60) {
            p.setText("/params/settime/time", eGetText("time"));    //这里必须先放前面，否者会出现问题
            p.setText("/params/settime/year",pp[0]);
            p.setText("/params/settime/mon",pp[1]);
            p.setText("/params/settime/date",pp[2]);
            p.setText("/params/settime/hour",pp[3]);
            p.setText("/params/settime/min",pp[4]);
            p.setText("/params/settime/sec",pp[5]);
            
        }
        req.request("/ui/web/time/write", p.data());     
    }
%>
    
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<SCRIPT src="/ie3d.js"></SCRIPT>
<SCRIPT src="/ToolboxClient.js"></SCRIPT>
<SCRIPT src="/Toolbox.js"></SCRIPT>
<link href="/css/style.css" rel="stylesheet" type="text/css">
<style>
    a:link,a:visited
    {
        display:block;
        font-weight:bold;
        color:#FFFFFF;
        background-color:#98bf21;
        width:120px;
        text-align:center;
        padding:4px;
        text-decoration:none;
    }
    a:hover,a:active
    {
        background-color:#000000;
    }
    </style>
</head>

<script>
    function on_sync_button()
    {
        var p = new Date();
        var hour = String(p.getHours());
        var min = String(p.getMinutes());
        var sec = String(p.getSeconds());
        var year = String(p.getFullYear());
        var mon = String(p.getMonth()+1);
        var day = String(p.getDate());

        document.getElementById("time").value = year+"-"+mon+"-"+day+" "+hour+":"+min+":"+sec;
    }
</script>


<body>
<form method="post" action="time.cgi">
    <table width="90%" border="0" id="table1">
        <tr>
            <td class="header"><strong><% ePrint(ehttp_xml.get("/dnake/time/title")); %></strong></td>
        </tr>
        <tr>
            <td><hr></td>       
        </tr>
        <tr>
            <td>
            <table border="0" id="table2">
                <tr>            
                    <td><a href="/cgi-bin/time.cgi" target="main" >Time</a></td>
                    <td><a href="/cgi-bin/dst.cgi" target="main" >DST</a></td>
                </tr>
                <tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
                </tr>
				<tr>
					<td width="96"><% ePrint(ehttp_xml.get("/dnake/time/ntp")); %></td>
					<td><input type="checkbox" name="ntp" value="1" <% if (p.getInt("/params/ntp/enable", 0)) ePrint("checked"); %>/></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
                </tr>

                <tr>
                    <td width="96"><% ePrint(ehttp_xml.get("/dnake/time/tz")); %></td>
                    <td>
                        <select name="sel" style="width:180px;">
                            <option value="+01:00" <% if(strcmp(p.getText("/params/settime/tz"), "+01:00") == 0) ePrint("selected"); %>>UTC+1</option>
                            <option value="+02:00" <% if(strcmp(p.getText("/params/settime/tz"), "+02:00") == 0) ePrint("selected"); %>>UTC+2</option>
                            <option value="+03:00" <% if(strcmp(p.getText("/params/settime/tz"), "+03:00") == 0) ePrint("selected"); %>>UTC+3</option>
                            <option value="+03:30" <% if(strcmp(p.getText("/params/settime/tz"), "+03:30") == 0) ePrint("selected"); %>>UTC+3:30</option>
                            <option value="+04:00" <% if(strcmp(p.getText("/params/settime/tz"), "+04:00") == 0) ePrint("selected"); %>>UTC+4</option>
                            <option value="+04:30" <% if(strcmp(p.getText("/params/settime/tz"), "+04:30") == 0) ePrint("selected"); %>>UTC+4:30</option>
                            <option value="+05:00" <% if(strcmp(p.getText("/params/settime/tz"), "+05:00") == 0) ePrint("selected"); %>>UTC+5</option>
                            <option value="+05:30" <% if(strcmp(p.getText("/params/settime/tz"), "+05:30") == 0) ePrint("selected"); %>>UTC+5:30</option>
                            <option value="+05:45" <% if(strcmp(p.getText("/params/settime/tz"), "+05:45") == 0) ePrint("selected"); %>>UTC+5:45</option>
                            <option value="+06:00" <% if(strcmp(p.getText("/params/settime/tz"), "+06:00") == 0) ePrint("selected"); %>>UTC+6</option>
                            <option value="+06:30" <% if(strcmp(p.getText("/params/settime/tz"), "+06:30") == 0) ePrint("selected"); %>>UTC+6:30</option>
                            <option value="+07:00" <% if(strcmp(p.getText("/params/settime/tz"), "+07:00") == 0) ePrint("selected"); %>>UTC+7</option>
                            <option value="+08:00" <% if(strcmp(p.getText("/params/settime/tz"), "+08:00") == 0) ePrint("selected"); %>>UTC+8</option>
                            <option value="+08:30" <% if(strcmp(p.getText("/params/settime/tz"), "+08:30") == 0) ePrint("selected"); %>>UTC+8:30</option>
                            <option value="+08:45" <% if(strcmp(p.getText("/params/settime/tz"), "+08:45") == 0) ePrint("selected"); %>>UTC+8:45</option>
                            <option value="+09:00" <% if(strcmp(p.getText("/params/settime/tz"), "+09:00") == 0) ePrint("selected"); %>>UTC+9</option>
                            <option value="+09:30" <% if(strcmp(p.getText("/params/settime/tz"), "+09:30") == 0) ePrint("selected"); %>>UTC+9:30</option>
                            <option value="+10:00" <% if(strcmp(p.getText("/params/settime/tz"), "+10:00") == 0) ePrint("selected"); %>>UTC+10</option>
                            <option value="+10:30" <% if(strcmp(p.getText("/params/settime/tz"), "+10:30") == 0) ePrint("selected"); %>>UTC+10:30</option>
                            <option value="+11:00" <% if(strcmp(p.getText("/params/settime/tz"), "+11:00") == 0) ePrint("selected"); %>>UTC+11</option>
                            <option value="+12:00" <% if(strcmp(p.getText("/params/settime/tz"), "+12:00") == 0) ePrint("selected"); %>>UTC+12</option>
                            <option value="+12:45" <% if(strcmp(p.getText("/params/settime/tz"), "+12:45") == 0) ePrint("selected"); %>>UTC+12:45</option>
                            <option value="+13:00" <% if(strcmp(p.getText("/params/settime/tz"), "+13:00") == 0) ePrint("selected"); %>>UTC+13</option>
                            <option value="+13:45" <% if(strcmp(p.getText("/params/settime/tz"), "+13:45") == 0) ePrint("selected"); %>>UTC+13:45</option>
                            <option value="+14:00" <% if(strcmp(p.getText("/params/settime/tz"), "+14:00") == 0) ePrint("selected"); %>>UTC+14</option>
                            <option value="+00:00" <% if(strcmp(p.getText("/params/settime/tz"), "+00:00") == 0) ePrint("selected"); %>>UTC+0</option>
                            <option value="-01:00" <% if(strcmp(p.getText("/params/settime/tz"), "-01:00") == 0) ePrint("selected"); %>>UTC-1</option>
                            <option value="-02:00" <% if(strcmp(p.getText("/params/settime/tz"), "-02:00") == 0) ePrint("selected"); %>>UTC-2</option>
                            <option value="-02:30" <% if(strcmp(p.getText("/params/settime/tz"), "-02:30") == 0) ePrint("selected"); %>>UTC-2:30</option>
                            <option value="-03:00" <% if(strcmp(p.getText("/params/settime/tz"), "-03:00") == 0) ePrint("selected"); %>>UTC-3</option>
                            <option value="-03:30" <% if(strcmp(p.getText("/params/settime/tz"), "-03:30") == 0) ePrint("selected"); %>>UTC-3:30</option>
                            <option value="-04:00" <% if(strcmp(p.getText("/params/settime/tz"), "-04:00") == 0) ePrint("selected"); %>>UTC-4</option>
                            <option value="-05:00" <% if(strcmp(p.getText("/params/settime/tz"), "-05:00") == 0) ePrint("selected"); %>>UTC-5</option>
                            <option value="-06:00" <% if(strcmp(p.getText("/params/settime/tz"), "-06:00") == 0) ePrint("selected"); %>>UTC-6</option>
                            <option value="-07:00" <% if(strcmp(p.getText("/params/settime/tz"), "-07:00") == 0) ePrint("selected"); %>>UTC-7</option>
                            <option value="-08:00" <% if(strcmp(p.getText("/params/settime/tz"), "-08:00") == 0) ePrint("selected"); %>>UTC-8</option>
                            <option value="-09:00" <% if(strcmp(p.getText("/params/settime/tz"), "-09:00") == 0) ePrint("selected"); %>>UTC-9</option>
                            <option value="-09:30" <% if(strcmp(p.getText("/params/settime/tz"), "-09:30") == 0) ePrint("selected"); %>>UTC-9:30</option>
                            <option value="-10:00" <% if(strcmp(p.getText("/params/settime/tz"), "-10:00") == 0) ePrint("selected"); %>>UTC-10</option>
                            <option value="-11:00" <% if(strcmp(p.getText("/params/settime/tz"), "-11:00") == 0) ePrint("selected"); %>>UTC-11</option>
                        </select>
                    </td>
                </tr>  
                <tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
                </tr>           
                <tr>
                    <td width="96"><% ePrint(ehttp_xml.get("/dnake/time/m_time")); %></td>
                    <td>
                        <input  type="text" style="width:180px;" name="time" value="<% ePrint(p.getText("/params/settime/time")); %>" id="time">
                    </td>
                    <td><input type="button" value="<% ePrint(ehttp_xml.get("/dnake/sync_time")); %>" onClick="on_sync_button()" required></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td><hr></td>
        </tr>
        <tr>
            <td>
            <input type="submit" value="<% ePrint(ehttp_xml.get("/dnake/submit")); %>"></td>
        </tr>
    </table>
</form>

</body>
</html>
    