
<% print_html_header(); %>
<%
    dmsg req;
    dxml p;

    req.request("/ui/web/time/read", NULL);
    p.load(req.body());

    char mDstStart[24] = {};
    char mDstEnd[24] = {};
    char mYear[24] = {};
    char mMon[24] = {};
    char mDay[24] = {};
    char mHour[24] = {};
    char mMin[24] = {};
    char mSec[24] = {};

    sscanf(p.getText("/params/settime/settime"), "%[^-]-%[^-]-%[^ ] %[^:]:%[^:]:%[^:]", mYear, mMon, mDay, mHour, mMin, mSec);

    if(form_method == POST) {
        p.setText("/params/settime/tz", eGetText("setTimeZone")); 
        p.setText("/params/ntp/server", eGetText("server"));
        p.setInt("/params/ntp/enable", eGetInt("ntp"));
        p.setInt("/params/settime/hour_24", eGetInt("hour_24"));
        p.setInt("/params/settime/date", eGetInt("date_format"));

        char setTime[32] = {};
        int err = 0;
        int t0 = eGetInt("set_hour");
        int t1 = eGetInt("set_min");
        int t2 = eGetInt("set_second");
        int t3 = eGetInt("set_year");
        int t4 = eGetInt("set_mon");
        int t5 = eGetInt("set_day");

        if (t0 < 0 || t0 > 23 || t1 < 0 || t1 > 59 || t2 < 0 || t2 > 59 ||
                t3 < 1970 || t3 > 2034 || t4 < 1 || t4 > 12 || t5 < 0) {
            err = 1;
        }

        /* 判断是否为闰年 */
        if (t4 == 4 || t4 == 6 || t4 == 9 || t4 == 11) {
            if (t5 > 30) 
                err = 1;
        } else if (t4 != 2) {
            if (t5 > 31)
                err = 1;
        }
        if (t3 % 400 == 0 || (t3 % 4 == 0 && t3 % 100 != 0)) {
            if (t4 == 2) {
                if (t5 > 29) 
                   err = 1;
            }
        } else {
            if (t4 == 2) {
                if (t5 > 28) 
                    err = 1;
            }
        }

        if (!err) {
            sprintf(setTime, "%04d-%02d-%02d %02d:%02d:%02d", t3, t4, t5, t0, t1, t2);     
            p.setText("/params/settime/settime", setTime);
        }
        
        sprintf(mDstStart, "%d.%d.%d/%02d", eGetInt("startMon"), eGetInt("startWeek"), eGetInt("startDay"), eGetInt("startHour"));
        sprintf(mDstEnd, "%d.%d.%d/%02d", eGetInt("endMon"), eGetInt("endWeek"), eGetInt("endDay"), eGetInt("endHour"));

        p.setInt("/params/dst/enable", eGetInt("dstEnable"));
        
        if (eGetInt("dstEnable") == 1) {
            p.setText("/params/dst/start", mDstStart);
            p.setText("/params/dst/end", mDstEnd);
            p.setInt("/params/dst/bias", eGetInt("bias"));
        }
        req.request("/ui/web/time/write", p.data());
    }

%>
    
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
    .table {
        border-collapse: separate;
        border-spacing: 10px 10px
    }
    .input {
        text-align:center;
    }
    select {
        text-align: center;
        text-align-last: center;
    }
</style>
<script>
    var strMonth=["", "January", "February", "March", "April", "May", "June", "July",
        "August", "September", "October", "November", "December"];

    var strDay=["Sunday", "Monday", "Tuesday", "Wednesday",
        "Thursday", "Friday", "Saturday"];

    var strWeek=["", "First In Month", "Second In Month", "Third In Month",
        "Fourth In Month", "Last In Month"];

    var dstBias=["30", "60", "90", "120", "150", "180", "210", "240"];

    var timeZone=["-12:00", "-11:00", "-10:00", "-09:30", "-09:00", "-08:00",
        "-07:00", "-06:00", "-05:00", "-04:00", "-03:30", "-03:00", "-02:00",
        "-01:00", "+00:00", "+01:00", "+02:00", "+03:00", "+04:00", "+04:30",
        "+05:00", "+05:30", "+05:45", "+06:00", "+06:30", "+07:00", "+08:00",
        "+08:45", "+09:00", "+09:30", "+10:00", "+10:30", "+11:00", "+12:00",
        "+12:45", "+13:00", "+14:00"];

    var myBias= <% ePrint(p.getInt("/params/dst/bias", 30)); %>;
    var myTimeZone = "<% ePrint(p.getText("/params/settime/tz", "+08:00")); %>";
    var startTime = "<% ePrint(p.getText("/params/dst/start", "1.1.1/01")); %>";
    var endTime = "<% ePrint(p.getText("/params/dst/end", "1.1.1/02")); %>";

    function on_sync_button()
    {
        var p = new Date();
        var hour = String(p.getHours());
        var min = String(p.getMinutes());
        var sec = String(p.getSeconds());
        var year = String(p.getFullYear());
        var mon = String(p.getMonth()+1);
        var day = String(p.getDate());

        document.getElementById("set_hour").value = hour;
        document.getElementById("set_min").value = min;
        document.getElementById("set_second").value = sec;
        document.getElementById("set_year").value = year;
        document.getElementById("set_mon").value = mon;
        document.getElementById("set_day").value = day;
    }
    function text_disabled(action) {
        if (action == 1) {
            document.getElementById("ntp").checked = true;
        } else {
            document.getElementById("set_hour").readOnly = false;
            document.getElementById("set_min").readOnly = false;
            document.getElementById("set_second").readOnly = false;
            document.getElementById("set_year").readOnly = false;
            document.getElementById("set_mon").readOnly = false;
            document.getElementById("set_day").readOnly = false;
        }
    }

    function preFixZero(num, n) {
        return (Array(n).join(0) + num).slice(-n);
    }

    function selected_timezone(action) {
        for (var i = 0; i < timeZone.length; i++) {
            if(timeZone[i] == action) {
                document.getElementById("setTimeZone").options[i].selected = true;
                break;
            }
        }
    }

    function selected_dstBias(action) {
        for (var i = 0; i < dstBias.length; i++) {
            if(dstBias[i] == action) {
                document.getElementById("bias").options[i].selected = true;
                break;
            }
        }
    }

    function selected_dst(selectedId, action) {
        var select = document.getElementById(selectedId);
	    select.options[action].selected = true;
    }

    function setInit() {
        var endTimeStr    = endTime.replace(/\//g, '.');
	    var startTimeStr  = startTime.replace(/\//g, '.');
        var endTimeInfo   = endTimeStr.split('.');
	    var startTimeInfo = startTimeStr.split('.');

        selected_timezone(myTimeZone);
        selected_dstBias(myBias);
        selected_dst("startMon", parseInt(startTimeInfo[0]-1));
        selected_dst("startWeek", parseInt(startTimeInfo[1]-1));
        selected_dst("startDay", parseInt(startTimeInfo[2]));
        selected_dst("startHour", parseInt(startTimeInfo[3]));
        selected_dst("endMon", parseInt(endTimeInfo[0]-1));
        selected_dst("endWeek", parseInt(endTimeInfo[1]-1));
        selected_dst("endDay", parseInt(endTimeInfo[2]));
        selected_dst("endHour", parseInt(endTimeInfo[3]));
    }
</script>
<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>


<body>
<form method="post" action="time.cgi">
    <input type="hidden" id="action" name="action" value="<% ePrint(p.getText("/params/ntp/enable")); %>" />
    <table width="90%" border="0" id="table1">
        <tr>
            <td class="header"><strong><% ePrint(ehttp_xml.get("/dnake/time/title")); %></strong></td>
        </tr>
        <tr>
            <td><hr></td>       
        </tr>
        <tr>
            <td>
            <table border="0" id="table2" class="table">
                <tr>
                    <td width="96"><% ePrint(ehttp_xml.get("/dnake/time/ntp")); %></td>
                    <td><input type="checkbox" name="ntp" id="ntp" value="1" /></td>
                </tr>
                <tr>
                    <td width="96"><% ePrint(ehttp_xml.get("/dnake/time/server")); %></td>
                    <td>
                        <input type="text" class="input" style="width:180px;" name="server" value="<% ePrint(p.getText("/params/ntp/server")); %>" id="server">
                    </td>
                </tr>
                <tr>
                    <td width="96"><% ePrint(ehttp_xml.get("/dnake/time/hour_24")); %></td>
                    <td><input type="checkbox" name="hour_24" value="1" <% if (p.getInt("/params/settime/hour_24", 0)) ePrint("checked"); %> /></td>
                </tr>
                <tr>
                    <td width="96"><% ePrint(ehttp_xml.get("/dnake/time/tz")); %></td>
                    <td>
                        <select name="setTimeZone" id="setTimeZone" class="input" style="width:180px;">
                            <script>
                                for (var i = 0; i < timeZone.length; i++) {
                                    document.write("<option value='" + timeZone[i] + "'>" + "UTC" + timeZone[i] + "</option>");
                                }
                            </script>
                        </select>
                    </td>
                </tr>  
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>           
                <tr>
                    <td width="96"><% ePrint(ehttp_xml.get("/dnake/time/sync_pc")); %></td>
                    <td>
                        <input type="button" value="<% ePrint(ehttp_xml.get("/dnake/sync_time")); %>" onClick="on_sync_button()" required>
                    </td>
                </tr>
                <tr>
                    <td width="96"><% ePrint(ehttp_xml.get("/dnake/time/hour")); %></td>
                    <td>
                        <input  type="text" readOnly  class="input" style="width:50;" name="set_hour" value="<% ePrint(mHour); %>" id="set_hour">  :
                        <input  type="text" readOnly class="input" style="width:50;" name="set_min" value="<% ePrint(mMin); %>" id="set_min">  :
                        <input  type="text" readOnly class="input" style="width:50;" name="set_second" value="<% ePrint(mSec); %>" id="set_second">
                    </td>
                </tr>
                <tr>
                    <td width="96"><% ePrint(ehttp_xml.get("/dnake/time/date_format")); %></td>
                    <td>
                        <select name="date_format" style="width:180px;">
                            <option value="0" <% if(p.getInt("/params/settime/date", 0) == 0) ePrint("selected"); %>>DD/MM/YYYY</option>
                            <option value="1" <% if(p.getInt("/params/settime/date", 0) == 1) ePrint("selected"); %>>MM/DD/YYYY</option>
                            <option value="2" <% if(p.getInt("/params/settime/date", 0) == 2) ePrint("selected"); %>>YYYY/MM/DD</option>
                        </select>   
                    </td>
                </tr>
                <tr>
                    <td width="96"><% ePrint(ehttp_xml.get("/dnake/time/date")); %></td>
                    <td>
                        <input readOnly class="input" style="width:50;" name="set_year" value="<% ePrint(mYear); %>" id="set_year"> /
                        <input readOnly class="input" style="width:50;" name="set_mon" value="<% ePrint(mMon); %>" id="set_mon"> /
                        <input readOnly class="input" style="width:50;" name="set_day" value="<% ePrint(mDay); %>" id="set_day">
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>   
                <tr>
                    <td><% ePrint(ehttp_xml.get("/dnake/dst/enable")); %></td>
                    <td><input type="checkbox" id="dstEnable" name="dstEnable" value="1" <% if (p.getInt("/params/dst/enable", 0)) ePrint("checked"); %>/></td>
                </tr>
                <tbody id="Dst">
                    <tr>
                        <td width="96"><% ePrint(ehttp_xml.get("/dnake/dst/start")); %></td>
                        <td>
                            <select name="startMon" id="startMon" style="width:110px;">
                                <script>
                                    for (var i=1; i<=12; i++) {
                                        document.write("<option value='" + i + "'>" + strMonth[i] + "</option>");
                                    }
                                </script>
                            </select>
                            <select name="startWeek" id="startWeek" style="width:110px;">
                                <script>
                                    for (var i=1; i<=7; i++) {
                                        document.write("<option value='" + i + "'>" + strWeek[i] + "</option>");
                                    }
                                </script>
                            </select>
                            <select name="startDay" id="startDay" style="width:110px;">
                                <script>
                                    for (var i=0; i<7; i++) {
                                        document.write("<option value='" + i + "'>" + strDay[i] + "</option>");
                                    }
                                </script>
                            </select>
                            <select id="startHour" name="startHour" style="width:110px">
                                <script>
                                    for (var i=0; i<=23; i++) {
                                        document.write("<option value='" + i + "'>" + preFixZero(i, 2) + ":00" + "</option>");
                                    }
                                </script>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="96"><% ePrint(ehttp_xml.get("/dnake/dst/end")); %></td>
                        <td>
                            <select name="endMon" id="endMon" style="width:110px;">
                                <script>
                                    for (var i=1; i<=12; i++) {
                                        document.write("<option value='" + i + "'>" + strMonth[i] + "</option>");
                                    }
                                </script>
                            </select>
                            <select name="endWeek" id="endWeek" style="width:110px;">
                                <script>
                                    for (var i=1; i<=7; i++) {
                                        document.write("<option value='" + i + "'>" + strWeek[i] + "</option>");
                                    }
                                </script>
                            </select>
                            <select name="endDay" id="endDay" style="width:110px;">
                                <script>
                                    for (var i=0; i<7; i++) {
                                        document.write("<option value='" + i + "'>" + strDay[i] + "</option>");
                                    }
                                </script>
                            </select>
                            <select id="endHour" name="endHour" style="width:110px">
                                <script>
                                    for (var i=0; i<=23; i++) {
                                        document.write("<option value='" + i + "'>" + preFixZero(i, 2) + ":00" + "</option>");
                                    }
                                </script>
                            </select>
                            </select>
                        </td>
                    </tr>
                </tbody>
                <tr>
                    <td width="96"><% ePrint(ehttp_xml.get("/dnake/dst/bias")); %></td>
                    <td>
                        <select id="bias" name="bias" style="width:110px">
                            <script>
                                for (var i=0; i < dstBias.length; i++) {
                                    document.write("<option value='" + dstBias[i] + "'>" + dstBias[i] + "min" + "</option>");
                                }
                            </script>
                        </select>                   
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>   
            </table>
            <tr>
                <td><hr></td>
            </tr>
            <tr>
                <td>
                <input type="submit" value="<% ePrint(ehttp_xml.get("/dnake/submit")); %>"></td>
            </tr>
    <script type="text/javascript">
        var x = document.getElementById('action').value;
        window.onload = function() {
            text_disabled(x);
            setInit();
        };
    </script>
</table>
</form>

</body>
</html>
    